### 準備環境  

pip uninstall numpy -y  
pip uninstall pandas -y  
pip install numpy  
pip install pandas

In [1036]:
import pandas as pd

### 預覽資料

In [1037]:
file = ['./data/PISASCIENCE.csv','./data/PISAMATH.csv','./data/PISAREAD.csv']
df = pd.read_csv(file[0])

df.head(3)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,PISASCIENCE,BOY,MEANSCORE,A,2006,527.000,NaN
1,AUS,PISASCIENCE,BOY,MEANSCORE,A,2009,527.000,NaN
2,AUS,PISASCIENCE,BOY,MEANSCORE,A,2012,523.728,NaN

### 簡化資料

In [1038]:
df = pd.read_csv(file[0])[["TIME","LOCATION","SUBJECT","INDICATOR","Value"]]
df

     TIME LOCATION SUBJECT    INDICATOR    Value
0    2006      AUS     BOY  PISASCIENCE  527.000
1    2009      AUS     BOY  PISASCIENCE  527.000
2    2012      AUS     BOY  PISASCIENCE  523.728
3    2015      AUS     BOY  PISASCIENCE  511.000
4    2018      AUS     BOY  PISASCIENCE  504.000
..    ...      ...     ...          ...      ...
595  2018      CRI     BOY  PISASCIENCE  420.000
596  2018      CRI    GIRL  PISASCIENCE  411.000
597  2018      LTU     TOT  PISASCIENCE  482.000
598  2018      LTU     BOY  PISASCIENCE  479.000
599  2018      LTU    GIRL  PISASCIENCE  485.000

[600 rows x 5 columns]

### 串接三個科目

In [1039]:
#concat all

for i in range(1,len(file)):
    new = pd.read_csv(file[i])[["TIME","LOCATION","SUBJECT","INDICATOR","Value"]]
    df = pd.concat([df,new])

df

     TIME LOCATION SUBJECT    INDICATOR    Value
0    2006      AUS     BOY  PISASCIENCE  527.000
1    2009      AUS     BOY  PISASCIENCE  527.000
2    2012      AUS     BOY  PISASCIENCE  523.728
3    2015      AUS     BOY  PISASCIENCE  511.000
4    2018      AUS     BOY  PISASCIENCE  504.000
..    ...      ...     ...          ...      ...
782  2018      CRI     BOY     PISAREAD  419.000
783  2018      CRI    GIRL     PISAREAD  434.000
784  2018      LTU     TOT     PISAREAD  476.000
785  2018      LTU     BOY     PISAREAD  457.000
786  2018      LTU    GIRL     PISAREAD  496.000

[2087 rows x 5 columns]

### 0.1 每年男女比是否平均？

In [1040]:
gender = df.loc[df['SUBJECT'] == 'BOY', 'TIME'].value_counts()/df.loc[df['SUBJECT'] == 'GIRL', 'TIME'].value_counts()
gender

2015    1.0
2018    1.0
2012    1.0
2009    1.0
2006    1.0
2003    1.0
2000    1.0
Name: TIME, dtype: float64

In [1041]:
print("\n=======\n每年參與的男生總數\n=======")
gender_count = df.loc[df['SUBJECT'] == 'BOY', 'TIME'].value_counts()
print(gender_count)

print("\n=======\n每年參與的女生總數\n=======")
gender_count = df.loc[df['SUBJECT'] == 'GIRL', 'TIME'].value_counts()
print(gender_count)

### 等等這好像是數成國家數？？？？？

=======
每年參與的男生總數
=======
2015    135
2018    125
2012    114
2009    111
2006    110
2003     66
2000     32
Name: TIME, dtype: int64

=======
每年參與的女生總數
=======
2015    135
2018    125
2012    114
2009    111
2006    110
2003     66
2000     32
Name: TIME, dtype: int64

### 0.2 全國不同性別的成績表現

In [1042]:
gender = df.groupby(['TIME', "INDICATOR",'SUBJECT']).describe()
print(gender)

                         Value                                             \
                         count        mean        std      min        25%
TIME INDICATOR   SUBJECT
2000 PISAREAD    BOY      32.0  470.798500  39.481657  360.000  457.50000
                 GIRL     32.0  501.650875  44.128125  380.000  490.25000
                 TOT      31.0  486.064516  41.373047  371.000  472.00000
2003 PISAMATH    BOY      33.0  495.555545  47.966325  362.000  486.00000
                 GIRL     33.0  484.964636  48.685742  348.000  480.00000
                 TOT      33.0  489.575758  48.178723  356.000  483.00000
     PISAREAD    BOY      33.0  469.001000  36.694060  369.000  459.00000
                 GIRL     33.0  503.353545  38.382936  394.000  495.00000
                 TOT      33.0  485.969697  36.953082  382.000  478.00000
2006 PISAMATH    BOY      37.0  493.748811  41.755646  380.000  479.00000
                 GIRL     37.0  482.259135  43.358300  361.000  470.00000
                 TOT      39.0  487.641026  41.296417  370.000  475.00000
     PISAREAD    BOY      36.0  465.057250  35.710141  376.000  447.50000
                 GIRL     36.0  502.821556  37.788111  402.000  488.00000
                 TOT      37.0  482.189189  36.625612  393.000  466.00000
     PISASCIENCE BOY      37.0  493.903811  38.509834  395.000  484.00000
                 GIRL     37.0  491.138324  40.344255  386.000  482.00000
                 TOT      39.0  492.025641  38.276341  390.000  482.00000
2009 PISAMATH    BOY      37.0  493.956270  39.316177  371.000  491.00000
                 GIRL     37.0  483.102541  39.325836  372.000  475.00000
                 TOT      38.0  488.394737  38.743466  371.000  483.00000
     PISAREAD    BOY      37.0  469.218595  29.278889  383.000  456.00000
                 GIRL     37.0  508.114459  31.251631  420.000  503.00000
                 TOT      37.0  488.135135  29.834881  402.000  478.00000
     PISASCIENCE BOY      37.0  494.428459  36.753371  378.000  488.00000
                 GIRL     37.0  494.860108  37.164871  387.000  485.00000
                 TOT      38.0  494.815789  36.208746  383.000  488.25000
2012 PISAMATH    BOY      38.0  493.139000  37.393778  377.376  482.22350
                 GIRL     38.0  482.577500  37.663780  372.785  476.15175
                 TOT      39.0  487.923077  37.195348  375.000  481.50000
     PISAREAD    BOY      38.0  472.518079  30.988797  382.254  457.45400
                 GIRL     38.0  509.742921  32.217643  410.408  504.13075
                 TOT      39.0  490.820513  30.920843  396.000  483.00000
     PISASCIENCE BOY      38.0  495.650237  36.925002  380.409  481.74625
                 GIRL     38.0  494.491842  36.512305  383.459  484.74125
                 TOT      39.0  495.128205  36.239829  382.000  486.00000
2015 PISAMATH    BOY      45.0  489.777778  43.461524  385.000  481.00000
                 GIRL     45.0  482.600000  44.875788  370.000  473.00000
                 TOT      45.0  486.222222  43.994260  377.000  477.00000
     PISAREAD    BOY      45.0  474.288889  33.396123  386.000  467.00000
                 GIRL     45.0  500.355556  36.292471  401.000  492.00000
                 TOT      45.0  487.177778  34.426660  397.000  481.00000
     PISASCIENCE BOY      45.0  490.577778  38.251256  401.000  478.00000
                 GIRL     45.0  487.200000  38.879534  392.000  475.00000
                 TOT      44.0  488.931818  38.805057  397.000  476.00000
2018 PISAMATH    BOY      42.0  484.595238  38.821078  374.000  482.75000
                 GIRL     42.0  479.428571  39.903018  379.000  477.25000
                 TOT      42.0  481.928571  39.155969  379.000  481.00000
     PISAREAD    BOY      41.0  466.365854  32.014650  358.000  454.00000
                 GIRL     41.0  495.365854  35.042657  383.000  489.00000
                 TOT      41.0  480.756098  33.217300  371.000  470.00000
     PISASCIENCE BOY      42.0  481.428571  32.599673  393.000  470.25000
                 GIRL     42.0  483.452381  34.189003  399.000  473.50000
                 TOT      42.0  482.428571  33.127354  396.000  469.75000


                               50%        75%      max
TIME INDICATOR   SUBJECT
2000 PISAREAD    BOY      479.7760  493.75000  520.000
                 GIRL     510.0000  530.00000  571.000
                 TOT      493.0000  511.50000  546.000
2003 PISAMATH    BOY      508.0000  527.00000  552.000
                 GIRL     495.0000  518.00000  541.000
                 TOT      503.0000  523.00000  544.000
     PISAREAD    BOY      475.0000  489.00000  525.000
                 GIRL     511.6670  525.00000  565.000
                 TOT      492.0000  507.00000  543.000
2006 PISAMATH    BOY      503.0000  518.00000  554.000
                 GIRL     492.0000  513.00000  543.000
                 TOT      495.0000  514.00000  548.000
     PISAREAD    BOY      469.0000  484.75000  539.000
                 GIRL     509.0000  522.50000  574.000
                 TOT      488.0000  501.00000  556.000
     PISASCIENCE BOY      500.0000  519.00000  562.000
                 GIRL     497.1180  512.00000  565.000
                 TOT      498.0000  515.50000  563.000
2009 PISAMATH    BOY      499.0000  519.00000  548.000
                 GIRL     490.0000  505.00000  544.000
                 TOT      494.5000  512.75000  546.000
     PISAREAD    BOY      475.0000  481.00000  523.000
                 GIRL     513.0000  522.00000  563.000
                 TOT      495.0000  501.00000  539.000
     PISASCIENCE BOY      500.8530  520.00000  546.000
                 GIRL     500.8240  518.00000  562.000
                 TOT      500.0000  516.25000  554.000
2012 PISAMATH    BOY      499.8580  517.21375  562.114
                 GIRL     489.7020  504.81550  544.193
                 TOT      494.0000  510.00000  554.000
     PISAREAD    BOY      475.9075  493.69325  526.618
                 GIRL     511.5315  529.09925  555.708
                 TOT      493.0000  510.00000  538.000
     PISASCIENCE BOY      500.9910  522.87200  551.947
                 GIRL     499.2410  519.02225  553.893
                 TOT      499.0000  518.50000  547.000
2015 PISAMATH    BOY      497.0000  514.00000  564.000
                 GIRL     490.0000  508.00000  564.000
                 TOT      494.0000  511.00000  564.000
     PISAREAD    BOY      485.0000  493.00000  525.000
                 GIRL     507.0000  523.00000  551.000
                 TOT      497.0000  509.00000  535.000
     PISASCIENCE BOY      500.0000  511.00000  559.000
                 GIRL     496.0000  509.00000  552.000
                 TOT      497.0000  510.75000  556.000
2018 PISAMATH    BOY      497.0000  507.25000  532.000
                 GIRL     491.0000  504.50000  524.000
                 TOT      494.5000  505.75000  527.000
     PISAREAD    BOY      472.0000  489.00000  508.000
                 GIRL     502.0000  517.00000  546.000
                 TOT      487.0000  504.00000  523.000
     PISASCIENCE BOY      491.5000  502.00000  531.000
                 GIRL     492.0000  503.00000  534.000
                 TOT      491.0000  503.00000  530.000

### 1. 歷年數學平均成績變化情形

In [1043]:
# 過濾資料

filt = (df['SUBJECT'] == 'TOT') & (df['INDICATOR'] == 'PISAMATH')

temp = df.loc[filt]
print(temp)

     TIME LOCATION SUBJECT INDICATOR  Value
446  2003      AUS     TOT  PISAMATH  524.0
447  2006      AUS     TOT  PISAMATH  520.0
448  2009      AUS     TOT  PISAMATH  514.0
449  2012      AUS     TOT  PISAMATH  504.0
450  2015      AUS     TOT  PISAMATH  494.0
..    ...      ...     ...       ...    ...
687  2015      SGP     TOT  PISAMATH  564.0
688  2015      TWN     TOT  PISAMATH  542.0
691  2015      MAC     TOT  PISAMATH  544.0
694  2018      CRI     TOT  PISAMATH  402.0
697  2018      LTU     TOT  PISAMATH  481.0

[236 rows x 5 columns]

In [1044]:
# 計算每年平均
print("\n=======\n歷年數學平均成績\n=======")
result = temp.groupby(['TIME'])['Value'].mean()
print(result)

math_avg = result

=======
歷年數學平均成績
=======
TIME
2003    489.575758
2006    487.641026
2009    488.394737
2012    487.923077
2015    486.222222
2018    481.928571
Name: Value, dtype: float64

發現：居然越來越低了

### 2. 歷年閱讀平均成績變化情形

In [1045]:
# 過濾資料

filt = (df['SUBJECT'] == 'TOT') & (df['INDICATOR'] == 'PISAREAD')
temp = df.loc[filt]
print(temp)

     TIME LOCATION SUBJECT INDICATOR  Value
506  2000      AUS     TOT  PISAREAD  528.0
507  2003      AUS     TOT  PISAREAD  525.0
508  2006      AUS     TOT  PISAREAD  513.0
509  2009      AUS     TOT  PISAREAD  515.0
510  2012      AUS     TOT  PISAREAD  512.0
..    ...      ...     ...       ...    ...
774  2015      SGP     TOT  PISAREAD  535.0
775  2015      TWN     TOT  PISAREAD  497.0
778  2015      MAC     TOT  PISAREAD  509.0
781  2018      CRI     TOT  PISAREAD  426.0
784  2018      LTU     TOT  PISAREAD  476.0

[263 rows x 5 columns]

In [1046]:
# 計算每年平均
print("\n=======\n歷年閱讀平均成績\n=======")
read_avg = temp.groupby(['TIME'])['Value'].mean()
print(read_avg)

read_avg = result

=======
歷年閱讀平均成績
=======
TIME
2000    486.064516
2003    485.969697
2006    482.189189
2009    488.135135
2012    490.820513
2015    487.177778
2018    480.756098
Name: Value, dtype: float64

### 3. 歷年科學平均成績變化情形

In [1047]:
# 過濾資料

filt = (df['SUBJECT'] == 'TOT') & (df['INDICATOR'] == 'PISASCIENCE')
temp = df.loc[filt]
print(temp)

     TIME LOCATION SUBJECT    INDICATOR  Value
380  2006      AUS     TOT  PISASCIENCE  527.0
381  2009      AUS     TOT  PISASCIENCE  527.0
382  2012      AUS     TOT  PISASCIENCE  521.0
383  2015      AUS     TOT  PISASCIENCE  510.0
384  2018      AUS     TOT  PISASCIENCE  503.0
..    ...      ...     ...          ...    ...
587  2015      SGP     TOT  PISASCIENCE  556.0
588  2015      TWN     TOT  PISASCIENCE  532.0
591  2015      MAC     TOT  PISASCIENCE  529.0
594  2018      CRI     TOT  PISASCIENCE  416.0
597  2018      LTU     TOT  PISASCIENCE  482.0

[202 rows x 5 columns]

In [1048]:
# 計算每年平均
print("\n=======\n歷年科學平均成績\n=======")
result = temp.groupby(['TIME'])['Value'].mean()
print(result)

science_avg = result

=======
歷年科學平均成績
=======
TIME
2006    492.025641
2009    494.815789
2012    495.128205
2015    488.931818
2018    482.428571
Name: Value, dtype: float64

### 4. 歷年男生數學平均成績變化情形

In [1049]:
# 過濾資料
filt = (df['SUBJECT'] == 'BOY') & (df['INDICATOR'] == 'PISASCIENCE')
temp = df.loc[filt]
#print(temp)

# 計算每年平均
print("\n=======\n歷年男生數學平均成績\n=======")
result = temp.groupby(['TIME'])['Value'].mean()
print(result)

=======
歷年男生數學平均成績
=======
TIME
2006    493.903811
2009    494.428459
2012    495.650237
2015    490.577778
2018    481.428571
Name: Value, dtype: float64

### 5. 歷年女生數學平均成績變化情形

In [1050]:
# 過濾資料
filt = (df['SUBJECT'] == 'GIRL') & (df['INDICATOR'] == 'PISASCIENCE')
temp = df.loc[filt]
#print(temp)

# 計算每年平均
print("\n=======\n歷年女生數學平均成績\n=======")
result = temp.groupby(['TIME'])['Value'].mean()
print(result)

=======
歷年女生數學平均成績
=======
TIME
2006    491.138324
2009    494.860108
2012    494.491842
2015    487.200000
2018    483.452381
Name: Value, dtype: float64

發現：女生的數學平均成績在2009和2018高於男生

### 6. 歷年男生科學平均成績變化情形

In [1051]:
#定義函數

def SubjectAvg(who,what):
    # 過濾資料
    filt = (df['SUBJECT'] == who) & (df['INDICATOR'] == what)
    temp = df.loc[filt]
    
    # 編碼表產生標題變數
    name = {'PISASCIENCE': "科學", 'PISAMATH': "數學", 'PISAREAD': '閱讀', "GIRL": "女生", "BOY": "男生"}
    WHO = name[who]
    WHAT = name[what]

    # 計算每年平均
    print("\n=======\n歷年{}{}平均成績\n=======".format(WHO,WHAT))
    result = temp.groupby(['TIME'])['Value'].mean()
    print(result)

In [1052]:
SubjectAvg("BOY","PISASCIENCE")

=======
歷年男生科學平均成績
=======
TIME
2006    493.903811
2009    494.428459
2012    495.650237
2015    490.577778
2018    481.428571
Name: Value, dtype: float64

### 7. 歷年女生科學平均成績變化情形

In [1053]:
SubjectAvg("GIRL","PISASCIENCE")

=======
歷年女生科學平均成績
=======
TIME
2006    491.138324
2009    494.860108
2012    494.491842
2015    487.200000
2018    483.452381
Name: Value, dtype: float64

發現：女生的科學平均成績 也在 2009和2018高於男生

### 8. 歷年兩性閱讀平均成績變化情形

In [1054]:
SubjectAvg("BOY","PISAREAD")
SubjectAvg("GIRL","PISAREAD")

=======
歷年男生閱讀平均成績
=======
TIME
2000    470.798500
2003    469.001000
2006    465.057250
2009    469.218595
2012    472.518079
2015    474.288889
2018    466.365854
Name: Value, dtype: float64

=======
歷年女生閱讀平均成績
=======
TIME
2000    501.650875
2003    503.353545
2006    502.821556
2009    508.114459
2012    509.742921
2015    500.355556
2018    495.365854
Name: Value, dtype: float64

### 9.歷年閱讀平均成績之「男女比」變化情形

In [1055]:
#定義函數

def SubjectAvgSexRatio(what):
    # 過濾資料
    filt = (df['SUBJECT'] == "BOY") & (df['INDICATOR'] == what)
    b = df.loc[filt]
    filt = (df['SUBJECT'] == "GIRL") & (df['INDICATOR'] == what)
    g = df.loc[filt]
    
    # 編碼表產生標題變數
    name = {'PISASCIENCE': "科學", 'PISAMATH': "數學", 'PISAREAD': '閱讀'}
    WHAT = name[what]

    # 計算每年平均
    print("\n=======\n歷年{}平均成績男女比\n=======".format(WHAT))
    result = b.groupby(['TIME'])['Value'].mean() / g.groupby(['TIME'])['Value'].mean()
    print(result)

In [1056]:
SubjectAvgSexRatio("PISAREAD")

=======
歷年閱讀平均成績男女比
=======
TIME
2000    0.938498
2003    0.931753
2006    0.924895
2009    0.923451
2012    0.926973
2015    0.947904
2018    0.941457
Name: Value, dtype: float64

發現：
1. 女生在閱讀能力超過男性
1. 函式很好用

### 10. 另外兩科的男女比？

In [1057]:
SubjectAvgSexRatio("PISAMATH")
SubjectAvgSexRatio("PISASCIENCE")

=======
歷年數學平均成績男女比
=======
TIME
2003    1.021839
2006    1.023825
2009    1.022467
2012    1.021886
2015    1.014873
2018    1.010777
Name: Value, dtype: float64

=======
歷年科學平均成績男女比
=======
TIME
2006    1.005631
2009    0.999128
2012    1.002343
2015    1.006933
2018    0.995814
Name: Value, dtype: float64

發現：科學的男女比結果與目測相同，數學不知為何不同，待確認。

### 10.1 閱讀能力高於平均的國家且數學也高於平均的國家有多少？（以2006為例）

以前老師都說閱讀能力高的人數學應該要很強，想驗證看看。  
本來想要直接寫函式跑出三項分數每年的關係，但還沒成功，只好先把題目簡化成一年。  
但已經半夜三點半我撐不住了，下次再繼續改。

In [1058]:
print(read_avg)
read_avg[2018]

TIME
2003    489.575758
2006    487.641026
2009    488.394737
2012    487.923077
2015    486.222222
2018    481.928571
Name: Value, dtype: float64

481.92857142857144

In [1068]:
# 重疊年份
year = [2006,2009,2012,2015,2018]

In [1060]:
#取得所有參與國家

filt =  (df['SUBJECT'] == "TOT") & (df['INDICATOR'] == "PISAREAD")
allLocation = df.loc[filt]["LOCATION"].drop_duplicates()
len(allLocation)

47

In [1074]:
# 閱讀高於平均的國家

read_aboveAvg = (df["TIME"] == year[0]) & (df['SUBJECT'] == "TOT") & (df['INDICATOR'] == "PISAREAD") & (df['Value'] > read_avg[year[0]]) 

#temp = df.loc[read_aboveAvg]["LOCATION"]

read = df.loc[read_aboveAvg]["LOCATION"]

In [1073]:
# 2006 數學高於平均的國家

math_aboveAvg = (df["TIME"] == year[0]) & (df['SUBJECT'] == "TOT") & (df['INDICATOR'] == "PISAMATH") & (df['Value'] > math_avg[year[0]]) 

#temp = df.loc[math_aboveAvg]["LOCATION"]

math = df.loc[read_aboveAvg]["LOCATION"]

In [1106]:
# 尋找重疊：閱讀高且數學高

math_read = pd.concat([read,math]).reset_index()
temp = math_read.duplicated()
math_read["math"] = temp
#print(len(math_read))
a = math_read.loc[(math_read["math"] == True)]
#print(len(a))

print("以下共 {} 個國家的閱讀與數學皆高於平均".format(len(a)))
print(a["LOCATION"])
n = len(a)/len(allLocation)*100
print("\n為所有國家的 {:.2f} %".format(n))

38
19
以下共 19 個國家的閱讀與數學皆高於平均
19    AUS
20    AUT
21    BEL
22    CAN
23    DNK
24    FIN
25    FRA
26    DEU
27    IRL
28    JPN
29    KOR
30    NLD
31    NZL
32    POL
33    SWE
34    CHE
35    GBR
36    EST
37    SVN
Name: LOCATION, dtype: object

為所有國家的 40.43 %

---

### 10.2 寫出函式自動跑出每一年的結果

以下為撰寫問題10.1留下程式碼

In [ ]:
ans = []


if math_read.iloc[i] in science_read.values:
    ans.append(math_read.iloc[i])

print("以下共 {} 個國家的三科皆高於平均".format(len(ans)))
print(ans)
n = len(ans)/len(allLocation)*100
print("\n為所有國家的 {:.2f} %".format(n))

In [1063]:
for i in range(1,len(year)):
    t = year[i]
    read_aboveAvg = (df["TIME"] == t) & (df['SUBJECT'] == "TOT") & (df['INDICATOR'] == "PISAREAD") & (df['Value'] > read_avg[t]) 
    temp = df.loc[read_aboveAvg][["LOCATION","TIME"]]
    read = pd.concat([read,temp])
    

    math_aboveAvg = (df["TIME"] == t) & (df['SUBJECT'] == "TOT") & (df['INDICATOR'] == "PISAMATH") & (df['Value'] > math_avg[t]) 
    temp = df.loc[read_aboveAvg]["LOCATION"]
    read = pd.concat([read,temp])

In [1064]:
read

        0 LOCATION  TIME
508   AUS      NaN   NaN
515   AUT      NaN   NaN
521   BEL      NaN   NaN
528   CAN      NaN   NaN
542   DNK      NaN   NaN
..    ...      ...   ...
700   GBR      NaN   NaN
706   USA      NaN   NaN
724   EST      NaN   NaN
758   SVN      NaN   NaN
761  OAVG      NaN   NaN

[225 rows x 3 columns]

In [1065]:
# 閱讀高於平均 且 數學高於平均的國家

read = df.loc[read_aboveAvg]["LOCATION"].drop_duplicates()
math = df.loc[math_aboveAvg]["LOCATION"].drop_duplicates()
result = 
math_read = 
math_read = pd.concat([read,math], ignore_index = True).drop_duplicates().reset_index()

SyntaxError: invalid syntax (2153692870.py, line 5)

In [ ]:
print(len(math_read))
print(len(read))
print(len(math))
#print(math_read)

30
24
29

In [ ]:
# 閱讀高於平均 且 科學高於平均的國家
for i in range(len(year)):
    t = year[i]
    read_aboveAvg = (df["TIME"] == t) & (df['SUBJECT'] == "TOT") & (df['INDICATOR'] == "PISAREAD") & (df['Value'] > read_avg[t]) 
    science_aboveAvg = (df["TIME"] == t) & (df['SUBJECT'] == "TOT") & (df['INDICATOR'] == "PISASCIENCE") & (df['Value'] > science_avg[t]) 

    read = df.loc[read_aboveAvg]["LOCATION"].drop_duplicates()
    sci = df.loc[math_aboveAvg]["LOCATION"].drop_duplicates()
    science_read = pd.concat([read,sci], ignore_index = True).drop_duplicates().reset_index()

In [ ]:

print(len(science_read))

30

In [ ]:
# 語法測試

print("SVN" in math_read.values)
print(math_read.iloc[0] in math_read.values)

True

/var/folders/sq/xx3g0qlj6kd_4sm1gwbt57zm0000gn/T/ipykernel_4137/3497584938.py:4: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  print(math_read.iloc[0] in math_read.values)

ValueError: ('Lengths must match to compare', (2,), (30, 2))

In [ ]:
ans = []

for i in range(len(math_read)):
    if math_read.iloc[i] in science_read.values:
        ans.append(math_read.iloc[i])

print("以下共 {} 個國家的三科皆高於平均".format(len(ans)))
print(ans)
n = len(ans)/len(allLocation)*100
print("\n為所有國家的 {:.2f} %".format(n))

以下共 24 個國家的三科皆高於平均
['AUS', 'AUT', 'BEL', 'CAN', 'CZE', 'DNK', 'FIN', 'FRA', 'DEU', 'IRL', 'JPN', 'KOR', 'NLD', 'NZL', 'NOR', 'POL', 'PRT', 'SWE', 'CHE', 'GBR', 'USA', 'EST', 'SVN', 'OAVG']

為所有國家的 51.06 %